a  {
  position: fixed;
  display: block;
  width: 11%;
  height: 7%;
  border-radius: 10px 5px 5px 10px;
  background:#ba0c2f;
  font: 22px Comic Sans MS;
  color: black;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  margin:10px auto;
}
  #play{  right:7%;
  bottom:8%;}
  #exit{  left:7%;
  bottom:8%;}
  p{
	  font: 18px Comic Sans MS;
	  color:#ba0c2f;
	  text-align:center; 
  }
  th{
	  
	  font: 22px Comic Sans MS;
	  color:#ba0c2f;
	  text-align:center;
	  margin:3%;
	  padding:1%;
  }
  td{
	  
	  
width:21%;
height:35% ;
 text-align:center;
  }
  img{
	 width:22%;
height:16% ;
 text-align:center; 
	  }
	  .two{	 width:15%;
height:14% }