.move{
	position:absolute;
	animation-name:drive;
	font:100px Comic Sans MS;

	margin-top:1%;
	padding:1%;
	color: #ba0c2f;
	animation-duration: 3s;
	animation-fill-mode: forwards;



}
body{

	text-align:center;
	background:black;

}

#myvideo{
	width:50%;
	height:40%;
	margin:8% auto;
	padding:2%

}
@keyframes drive{
    from 0%, 60%, 75% to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(700px, 0, 0);
  }

  75% {
    transform: translate3d(500px, 0, 0);
  }


  to {
    transform: translatex(550px);
  }

}
a {
  position: fixed;
  display: block;
  width: 10%;
  height: 8%;
  border-radius: 10px 5px 5px 10px;
  background: #ba0c2f;
  font: 22px Comic Sans MS;
  color: black;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  margin-top:1%
}

#play{  right:10%;
  bottom:9%;}

  #exit{  left:10%;
  bottom:9%;}
